body {
    background-color: rgb(48, 44, 44);
}
#rowred {
    background-color: red;
}
#rowgreen {
    background-color: green;
}
#rowblue {
    background-color: blue;
}
table {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 45%;
}
table, tr, td, th {
    border: solid 1px transparent;
    border-collapse: collapse;
}
tr, td, th {
    padding: 10px 50px 10px 50px;
}
.grey {
    background-color: gray;
}
.white {
    background-color: white;
}
th {
    color: white;
    text-align: left;
}